<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <style>
            .button {
                 background-color: #4CAF50;
                 border: none;
                 color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  margin: 4px 2px;
                  cursor: pointer;
            }
        </style>    

    
                
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>hi, i m samriddhi</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>my favorite cartoon is schinchan</p>
        </div>
        <div>
            <h2>  my third post :Button-1</h2>

            <button>Default Button</button>
            <a href="#" class="button">Link Button</a>
            <button class="button">Button</button>
            <input type="button" class="button" value="Input Button">
        </div>   

    </body>
</html>        